body{
    background-color: #C1D8F0;
}

form {
    margin:5 40px;
}

.messages, p {
    font-weight: 50px;
    color: #4663AC;
}
.wrapper {
    display: inline-block;
    padding: 25px;
}
h1 {
    text-align: center;
}